node_modules/
dist/
.env
*.local

# Prisma
backend/src/generated/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Script génération manuel
docs/package.json
docs/package-lock.json
docs/node_modules/
